.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .itemImage {
    width: 100%;
    height: auto;
  }
  .item-insigne{
    font-size: 10px;
    text-align: left;
  }
  .item-name{
    font-size: 14px;
    text-align: left;
  }

  .item {
    background-color: #ffffff;
    padding: 45px;
    
  }
  
  .item p {
    font-size: 15px;
    text-align: left;
  }
  
  .item a {
    color: #393939;
    text-align: left;
  }