.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    margin: 20px;
    border-radius: 8px;
  }
  
  .itemImage {
    width: 115%;
    text-align: center;
    height: auto;
  }
  .item-insigne{
    font-size: 10px;
    text-align: left;
  }
  .item-name{
    font-size: 14px;
    text-align: left;
  }

  .item {
    background-color: #ffffff;
    padding: 35px;
  }
  
  .item p {
    font-size: 15px;
    text-align: left;
  }
  
  .item a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    color: #393939;
    text-align: left;
    transition: .5s;
  }
  
  .item a:hover {
    color: #fff;
    background-color: #393939;
  }