.navbar {
    background-color: #fff;
    color: #fff;
    padding: 50px;
}

.navbar-toggle {
    align-items: center;
    height: 70px;
}

.categories {
    position: absolute;
    left: 40px;
    top: 70px;
    padding: 5px;
}

.activeOption {
    font-weight: bold;
  }

